
/* SetUp */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --tinted-white: rgb(250, 245, 245);
    --dark-red: rgb(161, 27, 27);
    --medium-red: rgb(252, 111, 111);
    --light-gray: rgb(200, 200, 200);
    --darker-gray: rgb(100, 100, 100);
    --light-red: rgb(255, 220, 194);
}

body {
    background-color: var(--tinted-white);
    font-family: "Roboto", sans-serif;
    font-size: min(3vw,18px);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
    color:black;
    margin:10px;
}

em {
    color: var(--darker-gray);
}

a {
    color: var(--dark-red);
    font-weight: bold;
    text-decoration: none;
}
a:hover {
text-decoration: underline;
}

button {
    padding: 12px 20px;
    border:none;
    border-radius: 30px;
    font-weight: bold;
    transition: filter 1s ease;
}
button:hover {
    cursor: pointer;
    filter:brightness(0.9);
}
.btn1 {
    background-color: var(--dark-red);
    color:white;
}
.btn2 {
    background-color:white;
    color:black;
    border:solid 1px var(--light-gray);
}

.btn3 {
    background-color: var(--light-red);
    color:var(--dark-red);
}

.logo {
    mix-blend-mode: multiply;
    aspect-ratio: 1 / 1;
}

.content-section {
    padding:5%;
}

.section-img {
    max-width:200px;
    border-radius:20px;
}

.scrolled.u {
    animation: fade-up 750ms ease;
}
.scrolled.l {
    animation: fade-left 750ms ease;
}
.scrolled.r {
    animation: fade-right 750ms ease;
}


@keyframes fade-in {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fade-down {
    from {
        opacity: 0;
        transform: translateY(-10%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(10%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-left {
    from {
        opacity: 0;
        transform: translateX(50%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-right {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}


/* Header and Footer */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color:white;
    
    height: 10vh;
}

.head-img {
    height:90%;
}

.nav-link, .foot-links {
    color:black;
    margin: 5px;
    font-weight: normal;
    
}
.nav-link:hover {
    text-decoration: none;
}

.nav-link.active {
    font-weight: bold;
}


.footer {
    
    background:white;
    
    padding:20px;
    
}

.foot-upper {
    display:flex;
    justify-content:space-around;
    border-bottom:2px solid black;
    padding-bottom:20px;
}

.foot-img {
    width: 20vw;
    height:20vw;
}

/* Home Page */
.hero {
    height:100vh;
    width:100vw;
}

.main-hero-text {
    width:100%;
    height:50%;
    
    padding:15%;
    
    text-align:center ;

    animation: fade-down 1.5s ease;
}

.hero-bottom {
    display:flex;
    align-items: flex-end;
    height:50%;
    width:100%;
}

.hero-img {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/39/C_Hello_World_Program.png);
    background-size: cover;
    
    width:20%;
    height: 100%;
    
    border-radius:12px;

    animation: fade-up 1.5s ease;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;

}

.hero-card {
    margin: 2%;
    border-radius:12px;
    max-width:25%;
    text-align:center;
}

#stat1 {
    background: var(--dark-red);
    height: 70%;
    animation: fade-up 1.5s ease;
    animation-delay: 1s;
    animation-fill-mode: backwards;

}

#stat2 {
    background: white;
    border: 1px solid var(--light-gray);
    height: 70%;
    animation: fade-up 1.5s ease;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;

}

#stat3 {
    background: var(--light-red);
    height:100%;
    animation: fade-up 1.5s ease;
    animation-delay: 2s;
    animation-fill-mode: backwards;

}

.disclaimer {
    text-align:center;
    padding:20px;
    border-radius:20px;
    border:dashed 3px var(--dark-red);
}


/* Teams Page */


.team-container {
    display: flex;
    gap: 20px;
    width: 80vw;
    margin: 20px 0;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 20px;
    scroll-behavior: smooth;
    padding: 20px;
}

.team-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}



.member-card {
    display: 0 0 auto;
    scroll-snap-align: start;
    min-width: 70vw;
    position: relative;
    background-color: var(--tinted-white);
    box-shadow: 0 0 10px 1px var(--light-gray);
    
}

.member-avatar {
    max-width: 50px;
    padding: 1%;
    border-radius: 50%;
    border: solid var(--light-gray) 2px;

    position: absolute;
    right: 5%;
    top:9%;
}

.member-subtext {
    color: var(--darker-gray);
}



/* Projects Page */

.pj-nav {
    display: flex;
    justify-content: space-evenly;
    margin: 5% 0;
    /*padding-bottom: 2%;*/
    border-bottom: solid 2px var(--light-gray);
}

.pj-nav-links.active {
    border-bottom: solid 2px var(--dark-red);
}
.pj-nav-links:hover {
    text-decoration: none;
    
}

.project-page {
    width: 80%;
    margin: 0 auto;
}

.program {
    display: flex;
    background: var(--tinted-white);
    margin: 3% 0;
    box-shadow: 0 0 10px 1px var(--light-gray);
}

.program-img {
    width: 30%;
    aspect-ratio: 1 / 1;
}


